<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alumni Stories</title>
</head>
<body>
<h3>
    Here is our brightest minds
</h3>

<div class="storyBlock">
    <a href="{% url 'create' %}">Add new alumni story</a> <br><br>
    {%for i in alumni %}
        <div>
            <img src="{{i.photo.url}}" alt="Profile Photo" width="150">
            <h2>{{ i.name }}</h2>
            <p>{{ i.title }}</p>
            <p><strong>Year of Graduation:</strong> {{ i.graduation_year }}</p>
            <p><strong>Department:</strong> {{ i.department }}, {{ i.university }}</p>
        </div>

        <div>
            <blockquote>
                {{ i.bio }}
            </blockquote>
        </div>
    <a href="{% url 'update' i.id %}">Update</a> <br>
    <a href="{% url 'delete' i.id %}">Delete</a> <br>
    {%endfor%}
</div>

</body>
</html>